@media(max-width:768px) {
    .page-wrapper {
        height: calc(100vh - 185px) !important;
        margin-top: 50px !important;
    }

    .loginpagelogo {
        height: 50px;
    }

    .loginBanner {
        height: 50px;
    }

    .loginContainer {
        margin-top: 0px;
    }

    .PasswordVisibility {
        transform: translate(-120%, -10%) !important;
    }

    .ResetItems {
        padding: 0px !important;
    }
}

.PasswordVisibility {
    position: absolute;
    transform: translate(-120%,0%);
    cursor: pointer;
    height: 30px;
    opacity: 50%
}

.ResetItems {
    display: table;
    margin: auto;
    padding: 20px;
}

.body-content {
    padding: 15px 15px 0 15px !important;
}

.sectionFieldset legend {
    border: 0 !important;
    background-color: transparent;
}

.boldTableCell {
    padding: 2px;
    font-weight: bold;
    display: table-cell;
    text-align: right;
}

.passwordWindow {
    width: 100%;
    background-color: #EAEAEA;
    margin: 0 auto;
}

.passwordContent {
    background-color: #eee;
    position: relative;
    margin: 0 auto;
    min-height: 260px;
}