#pop_overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    background-image: url('/Images/overlayBKG.png');
    background-repeat: repeat;
}

#loading {
    width: 50%;
    display: none;
    position: absolute;
    top: 40%;
    left: 25%;
}

.LoadSpinner {
    background: url('/Images/loading_icon.gif') no-repeat center center;
    height: 10%;
    width:10%;
}

.LoadingLabel {
    padding: 3px;
    border: solid 3px #00649e;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF));
    width: 100%;
    padding: 5%;
}