.sectionFieldset legend {
    border: 0 !important;
    background-color: transparent;
}


.tableHeader {
    background-color: hsl(202, 100%, 31%) !important;
    background-repeat: repeat-x;
    background-image: linear-gradient(#0084d1, #00649e);
    border-color: #00649e #00649e hsl(202, 100%, 28.5%);
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
    -webkit-font-smoothing: antialiased;
    display: table-cell;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.auctionTableHeader {
    background-repeat: repeat-x;
    background-image: linear-gradient(#999999, #000000);
    border-color: #999999 #686868 hsl(0deg 0% 0%);
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
    -webkit-font-smoothing: antialiased;
    display: table-cell;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.tableCell {
    padding: 2px;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
}

textarea {
    overflow: hidden;
    min-height: 50px;
    max-height: 200px;
    min-width: 200px;
    max-width: 500px;
}

.auctionInfo {
    transition: all 0.5s ease-in-out;
    max-height: 0px;
    overflow: hidden;
}

.openAuctionInfo {
    transition: all 0.5s ease-in-out;
    max-height: 365px;
}

.UpdateTextArea {
    width: 100%;
    height: 500px;
    max-width: 100%;
}

.saveButton {
    background-image: url(/Images/fa-icons/save.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 25px;
    width: 30px;
    border: none;
    outline: none;
}

.openOptions {
    transition: all 0.5s ease-in-out;
    max-height: max-content;
}

.closeOptions {
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0px;
}

.hide {
    display: none;
}

.carfaxLink {
    height: 25px;
}

@media(max-width:768px) {
    img {
        width: 100%;
    }

    .centerCell {
        text-align: left !important;
    }

    .centerContent {
        text-align-last: left !important;
    }

    .hideIfSmall {
        display: none !important;
    }

    .HeaderCol {
        display: table-row !important;
    }

    .HeaderLabelCol {
        display: table-row !important;
        text-align: left !important;
    }

    .HeaderItemContent {
        margin-left: 10px !important;
    }

    .HeaderHolder {
        width: 100% !important;
    }

    .H2Text {
        font-size: 1rem;
        font-weight: bold;
    }

    .transmissionStyle {
        max-width: 240px !important;
    }

    .openAuctionInfo {
        max-height: 850px !important;
    }

    .carfaxLink {
        width: 100px;
        height: 25px;
    }

    .smallVehicleDetails {
        padding:10px 10px;
    }
}

.HeaderCol {
    display: table-cell;
}

.HeaderLabelCol {
    display: table-cell;
    text-align: right;
}

.HeaderItemContent {
    margin-left: 0px;
}

.HeaderHolder {
    display: table;
    width: 60%;
}

.tableCell {
    display: block;
}

.tableHeader {
    display: block;
}