@media screen and (orientation: landscape) and (max-height: 450px) {
    .smallHide {
        display: none;
    }

    .show_scroll::-webkit-scrollbar {
        display: initial;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.Hide {
    display: none;
}

.PricingBox {
    max-width: 240px;
}

.ColRowSwapLabel {
    text-align: right;
}

.jsgrid-grid-body {
    height: calc(100vh - 230px);
}

@media(max-width:768px) {
    .submitButton {
        width: 80px !important;
        margin-top: 2px !important;
    }

    .preferencesContainer {
        height: calc(100vh - 180px) !important;
    }

    .modalContent {
        position: static !important;
        height: calc(100vh - 75px) !important;
        padding-bottom: 20px !important;
    }

    .modalPopup {
        padding-top: 52px !important;
    }

    .PricingBox {
        max-width: 175px !important;
    }

    .inputStyle {
        max-width: 185px;
    }

    .closeModalButton {
        font-size: 1rem;
    }

    h2 {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .jsgrid-grid-body {
        height: calc(100vh - 240px);
    }
}