.jsgrid-pager {
    display: flex;
    flex-direction: row;
}

.paginationStyle {
    font-weight: bold;
    padding: .2em.6em;
    flex: auto;
    text-align: right;
}

.paginationClick {
    color: black;
    pointer-events: none !important;
}

.vehicleLocationInfo {
    transition: all 0.5s ease-in-out;
    max-height: 0px;
    overflow: hidden;
}

.openVehicleLocationInfo {
    transition: all 0.5s ease-in-out;
    max-height: 310px;
}

.filterTokenRow {
    display:inline-flex;
    padding-left: 15px;
    width: 65%;
}

.filterToken {
    background-color: #005589;
    font-size: 0.8rem;
    color: white;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 0 5px 20px 5px;
    height: 20px;
}

.hideToken {
    display: none;
}

.showToken {
    display: initial;
}

.auctionInfo {
    position: relative;
    /*display: inline;*/
}

.auctionsContent {
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    z-index: -100;
    font-size: 0.8rem;
    width: 650px;
    height: auto;
    top: -25px;
    right: 100px;
    opacity: 0;
    display: none;
    transition: all 1s ease-in-out;
}

.openAuctionsContent {
    z-index: 3;
    opacity: 1;
    left: 75px;
    top: 25px;
    display: block;
    transition: all 1s ease-in-out;
}

.errorMessage {
    position: relative;
    display: inline;
}

.openErrMsgsContent {
    z-index: 3;
    opacity: 1;
    left: 70px;
    display: block;
    transition: all 1s ease-in-out;
}

.closeTop {
    top: -150px;
}

.closeMid {
    top: -250px;
}

.closeBottom {
    top: -350px;
}

.tableHeader {
    background-color: hsl(202, 100%, 31%) !important;
    background-repeat: repeat-x;
    background-image: linear-gradient(#0084d1, #00649e);
    border-color: #00649e #00649e hsl(202, 100%, 28.5%);
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
    -webkit-font-smoothing: antialiased;
    display: table-cell;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 175px;
}

.auctionTableHeader {
    background-repeat: repeat-x;
    background-image: linear-gradient(#999999, #000000);
    border-color: #999999 #686868 hsl(0deg 0% 0%);
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
    -webkit-font-smoothing: antialiased;
    display: table-cell;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.tableCell {
    padding: 2px;
    display: table-cell;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    background-color: #f7f7f7;
    color: black;
}

.HeaderCol {
    display: table-row !important;
}

.filterTable {
    display: table;
    margin: 0 auto;
    table-layout: fixed;
    width: 750px;
}

.VehicleMarketingActionBar {
    align-items: center;
}

.alertIcon {
    padding: 0 !important;
    display: none;
    filter: invert(12%) sepia(92%) saturate(5782%) hue-rotate(358deg) brightness(100%) contrast(112%) drop-shadow(0 0 1px black);
}

@media(max-width:1280px) {
    .filterTokenRow {
        padding-left: 5px !important;
        width: auto !important;
    }
}

@media(max-width:768px) {
    .mdIcon {
        height: 35px !important;
        width: 35px !important;
        padding: 3px 0px;
    }

    .txtSearch {
        width: 100% !important;
        margin-top: 3px;
    }

    .divSearch {
        width: 40%;
        vertical-align: middle;
    }

    .VehicleMarketingButtons {
        padding-left: 10px;
    }

    .VehicleMarketingActionBar {
        justify-content: space-between;
    }

    .modalPopup {
        padding-bottom: 40px;
        padding-top: 60px;
    }

    .FilterButton {
        width: 225px !important;
    }
}